.venv/
venv/
env/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

data/
dataset/
datasets/
100_TBDataset/
dataset_200/
models/
android_app/app/build/
android_app/.gradle/
*.csv
*.xlsx
*.xls
*.zip
*.rar
*.7z

*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.mp4
*.avi
*.mov
*.mkv

*.h5
*.hdf5
*.keras
*.pth
*.pt
*.ckpt
*.pkl
*.joblib
*.onnx

logs/
runs/
checkpoints/

output/
outputs/
results/
predictions/

*.tmp
*.temp
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

.env
*.key
*.pem

*.docx
*.pdf
*.pptx
*.ppt


*.bin
*.apk
reports/

